

.inputField {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
}
button {
    height: 30px;
    width: 50px;
    background-color: #8C709E;
    border-radius: 10px;
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;

}

button:hover {
    cursor: pointer;
}

.searchIcon {
    height: 10px;
    width: auto;
}