@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');



header {
    
height: 300px;
  	background-image: url('./header-image.jpg');
	background-size: cover;
  	background-position: top;
  	position: relative;
overflow: hidden;
  	clip-path: polygon(0 0, 100% 0, 100% 150px, 0 100%);
}

.pageTitle {
    text-align: left;
    padding: 20px 0 0 50px;
    font-family: 'Courgette', cursive;
    font-size: 40px;
    color: #EDEAEB;
   
    text-decoration: none;
}

.pageTitle:hover {
    font-size: 50px;
    color: #EDEAEB;
    text-decoration: none;
}

.pageTitle:visited {
    text-decoration: none;
}

.pageTitle:active {
    text-decoration: none;
}