@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

body {
  margin: 0;
  margin-top: 0;
  background-color: #AC9889;
}


.weatherInfo {
  text-transform: uppercase;
}
.parent {
  text-align: center;
}



a {
  text-decoration: none;
  color:#202821;
}

.searchPage {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
}



